#card{
  margin-top: 50px;
  background-color: white;
  border-radius: 10px;
}

//.logo-img{
//  height: 150px;
//  margin-right:auto;
//  margin-left: auto;
//  display:block;
//  width: auto;
//}
.btn{
  border: #3f51b5 solid thick;
  border-radius: 10px;
  padding-top: 10px;
}

.logo-title{
  margin: 20px 0;
}
