<div class="container-fluid ctn" style="padding: 0">
  <app-menu-navbar [user]="user" [nombreEmpresa]="empresa.no_empresa"
                   *ngIf="user && empresa"></app-menu-navbar>
  <div class="container-fluid">
    <div class="row no-gutters justify-content-center" *ngIf="isLoading">
      <div class="col-3 center-block main-card">
        <app-loading-spinner></app-loading-spinner>
      </div>
    </div>
    <div class="row no-gutters justify-content-center" *ngIf="!isLoading">
      <div class="col-10">
        <div class="container-fluid main-card" style="padding-bottom: 20px">
          <div class="container-fluid ">
            <div class="row no-gutters justify-content-center" >
              <div class="col-3 align-items-center">
                <div>
                  <button routerLink="/ganado" color="primary" mat-icon-button aria-label="back">
                    <mat-icon>arrow_back</mat-icon>
                  </button>
                </div>
                <div>
                  <img class="logo-img" src="assets/cow2.png " alt="logo">
                  <div class="mat-headline text-center" style="margin-top: 20px">CREAR GANADO</div>
                </div>
              </div>
              <div class="col-9" *ngIf="ganadoForm">
                <form style="display: inline" [formGroup]="ganadoForm">
                  <div class="container-fluid">
                    <div class="row no-gutters justify-content-between" *ngIf="razas && maxDate">
                      <div class="col-4">
                        <mat-form-field>
                          <mat-label>Estado del Ganado</mat-label>
                          <mat-select formControlName="idEstadoGanado">
                            <mat-option value="3">Disponible</mat-option>
                            <mat-option value="1">Fallecido</mat-option>
                            <mat-option value="2">Vendido</mat-option>
                            <mat-option value="4">Preñada</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-4" *ngIf="razas">
                        <mat-form-field>
                          <mat-label>Raza</mat-label>
                          <mat-select formControlName="idRaza">
                            <mat-option value="Mestizo">Mestizo</mat-option>
                            <span *ngFor="let raza of razas">
                          <mat-option *ngIf="raza.de_raza.toLowerCase() != 'mestizo'"
                                      [value]="raza.id_raza">{{raza.de_raza}}</mat-option>
                            </span>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <mat-form-field>
                          <mat-label>Tipo de Ganado</mat-label>
                          <mat-select formControlName="tipoGanado">
                            <mat-option value="1">Toro</mat-option>
                            <mat-option value="2">Vaca</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row no-gutters" *ngIf="razas && maxDate">
                      <div class="col-4">
                        <mat-form-field>
                          <input matInput [matDatepicker]="datePicker" formControlName="date" [max]="maxDate" readonly>
                          <mat-datepicker-toggle [for]="datePicker" matSuffix></mat-datepicker-toggle>
                          <mat-datepicker #datePicker ></mat-datepicker>
                          <mat-label>Fecha de nacimiento</mat-label>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <mat-form-field>
                          <mat-label>Código del Ganado</mat-label>
                          <input formControlName="codigoGanado" matInput type="number" max="999999999">
                          <mat-error>
                            Debe de ser un número entero y de máximo 9 dígitos
                          </mat-error>
                          <mat-hint>Debe de ser un número entero y de maximo 9 dígitos</mat-hint>
                        </mat-form-field>
                      </div>
                      <div class="col-4">
                        <mat-form-field>
                          <mat-label>Peso del Ganado</mat-label>
                          <input matInput type="number" formControlName="pesoGanado">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row no-gutters justify-content-around" style="margin-top: 60px">
                      <div class="col-3 d-flex">
                        <button mat-raised-button color="primary"  routerLink="/ganado" >
                          <div class="mat-headline" style="margin: 0">Volver</div>
                        </button>
                      </div>
                      <div class="col-3 d-flex  align-items-center">
                        <app-custom-input-file (onFileSelect)="onFileSelect($event)" [accept]="'image/png, image/jpeg, image/jpg'">
                          <span class="nofiles">Foto del ganado</span>
                          <span *ngIf="fotoGanado" class="selected">{{fotoGanado.name}}</span>
                        </app-custom-input-file>
                      </div>
                      <div class="col-3 d-flex">
                        <button mat-raised-button color="primary" [disabled]="ganadoForm.invalid" (click)="onCreate()" >
                          <div class="mat-headline" style="margin: 0">Crear Ganado</div>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

