.logo-img{
  width: 50%;
  height: auto;
  margin-right:auto;
  margin-left: auto;
  display:block;
}

mat-form-field{
  width: 80%;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
