<div class="container-fluid ctn" style="padding: 0">
  <app-menu-navbar [user]="user" [nombreEmpresa]="empresa.no_empresa"
                   *ngIf="user && empresa"></app-menu-navbar>
  <div class="container-fluid">
    <div class="row no-gutters justify-content-center">
      <div class="col-10">
        <div class="container-fluid main-card">
          <div class="container-fluid">
            <div class="row no-gutters justify-content-center">
              <div class="col-10">
                <div class="container-fluid">
                  <div class="row no-gutters">
                    <div class="col-8 d-flex justify-content-center align-items-center">
                      <div class="mat-display-1 text-center d-flex align-items-center" style="margin: 0" >GANADO</div>
                    </div>
                    <div class="col-4 d-flex justify-content-end align-items-center">
                      <button mat-raised-button color="primary" routerLink="/ganado/create">
                        <div class="mat-headline" style="margin: 0">Insertar Ganado</div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row no-gutters" style="margin-top: 15px; margin-bottom: 5px">
              <div class="col-12">
                <div class="container-fluid">
                  <div class="row no-gutters justify-content-between" *ngIf="razas && maxDate">
                      <div class="col-2">
                        <mat-form-field>
                          <mat-label>Estado del Ganado</mat-label>
                          <mat-select [(ngModel)]="idEstadoGanado" >
                            <mat-option>Ninguno</mat-option>
                            <mat-option value="3">Disponible</mat-option>
                            <mat-option value="1">Fallecido</mat-option>
                            <mat-option value="2">Vendido</mat-option>
                            <mat-option value="4">Preñada</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-2" *ngIf="razas?.length>0">
                        <mat-form-field>
                          <mat-label>Raza</mat-label>
                          <mat-select [(ngModel)]="idRaza" >
                            <mat-option>Ninguna</mat-option>
                            <mat-option [value]="raza.id_raza" *ngFor="let raza of razas">{{raza.de_raza}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-2">
                        <mat-form-field>
                          <mat-label>Tipo de Ganado</mat-label>
                          <mat-select [(ngModel)]="tipoGanado" >
                            <mat-option>Ninguno</mat-option>
                            <mat-option value="1">Toro</mat-option>
                            <mat-option value="2">Vaca</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-2">
                        <mat-form-field>
                          <input matInput [matDatepicker]="dateFromPicker" [(ngModel)]="dateFrom" [max]="maxDate" disabled >
                          <mat-datepicker-toggle [for]="dateFromPicker" matSuffix></mat-datepicker-toggle>
                          <mat-datepicker #dateFromPicker disabled="false"></mat-datepicker>
                          <mat-label>Desde</mat-label>
                        </mat-form-field>
                      </div>
                      <div class="col-2">
                        <mat-form-field>
                          <input matInput [(ngModel)]="dateTo" [matDatepicker]="dateToPicker" [max]="maxDate" disabled >
                          <mat-datepicker-toggle [for]="dateToPicker" matSuffix></mat-datepicker-toggle>
                          <mat-datepicker #dateToPicker disabled="false"></mat-datepicker>
                          <mat-label>Hasta</mat-label>
                        </mat-form-field>
                      </div>
                      <div class="col-2 d-flex justify-content-center align-items-center">
                        <button (click)="onFilter()" mat-raised-button color="primary">
                          <div class="mat-headline text-center" style="margin: 0">Filtrar</div>
                        </button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row no-gutters" style="margin-top: 15px; margin-bottom: 15px">
              <div class="col-12">
                <div class="container-fluid">
                  <div class="row no-gutters">
                    <div class="col-4">
                      <mat-form-field>
                        <input [(ngModel)]="individualGanado" matInput type="number">
                        <mat-label>Buscar un Ganado</mat-label>
                        <mat-hint>Debe de ser un número entero</mat-hint>
                      </mat-form-field>
                    </div>
                    <div class="col-4 d-flex justify-content-start align-items-center">
                      <button (click)="goToIndividualProfile()" mat-raised-button color="primary">
                        <div  class="mat-headline text-center" style="margin: 0">Buscar Ganado</div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row no-gutters justify-content-center" *ngIf="!ELEMENT_DATA?.length>0">
              <div class="col-8">
                <div class="mat-headline text-center">NO SE ENCONTRO NINGÚN GANADO</div>
              </div>
            </div>
            <div class="row no-gutters justify-content-center">
              <div class="col-12" [hidden]="ELEMENT_DATA?.length<=0">
                <table mat-table [dataSource]="dataSource" matSort style="width: 100%">
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="co_ganado">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Código del Ganado</th>
                    <td mat-cell *matCellDef="let element"> {{element.co_ganado}} </td>
                  </ng-container>
                  <ng-container  matColumnDef="de_raza">
                    <th mat-header-cell mat-sort-header  *matHeaderCellDef>Raza</th>
                    <td mat-cell *matCellDef="let element"> {{element.de_raza}} </td>
                  </ng-container>
                  <ng-container matColumnDef="de_estado_ganado">
                    <th mat-header-cell mat-sort-header  *matHeaderCellDef>Estado del Ganado</th>
                    <td mat-cell *matCellDef="let element"> {{element.de_estado_ganado}} </td>
                  </ng-container>
                  <ng-container matColumnDef="de_tipo_ganado">
                    <th mat-header-cell mat-sort-header  *matHeaderCellDef>Tipo de Ganado</th>
                    <td mat-cell *matCellDef="let element"> {{element.de_tipo_ganado}} </td>
                  </ng-container>
                  <ng-container matColumnDef="fe_ganado">
                    <th mat-header-cell mat-sort-header  *matHeaderCellDef>Fecha de Nacimiento</th>
                    <td mat-cell *matCellDef="let element">
                      {{getDate(element.fe_ganado).getDate()}}/{{getDate(element.fe_ganado).getMonth()+1}}/{{getDate(element.fe_ganado).getFullYear()}}
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row (click)="goToProfile(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSize]="5" [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

