/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Imports functions, variables, and mixins that are needed by other Bootstrap files

@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// Import Bootstrap Reboot
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "reset";

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.center-block {
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.text-center {
  text-align:center
}

@import '~material-design-icons/iconfont/material-icons.css';

.ctn{
  background-color: #3f51b5;
  height: 100%;
  width: 100%;
}

.brand{
  font-family: 'quantifyCustom', Arial, sans-serif;
}

@font-face {
  font-family: "quantifyCustom";
  src: url("assets/quantify/quantify-webfont.eot");
  src: url("assets/quantify/quantify-webfont.woff") format("woff"),
  url('assets/quantify/quantify-webfont.ttf')  format('truetype');
}
